* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #f0f2f5;
    color: #333;
}

/* ---------- NAVIGATION BAR ---------- */

nav {
    width: 100%;
    padding: 0 4%;
    height: 80px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 217, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

#logo {
    font-size: 35px;
    font-weight: 800;
    color: #333;
    margin-right: 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}
.search{
    margin-left:20px;
    width:390px;
    background-color: #fff;
    border-radius: 30px; 
}
.navbar-left img {
    width:14px;
    margin-left:10px;
    margin-bottom:-2px;
}

.navbar-left input {
    padding: 6px 30px;
    border: 0;
    outline: none;
    background: transparent;
    font-size:16px;

}

.navbar-center ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 45px;
}

.navbar-center ul li a {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.navbar-center ul li a::after {
    content: '';
    background-color: #333;
    height: 2px;
    width: 0px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -12px;
    transition: width 0.5s;
}

.navbar-center ul li a:hover::after,
.navbar-center ul li a.selected::after {
    width: 30px;
}

.navbar-right a img {
    width: 45px;
    border-radius: 50%;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    background-color: #41db51;
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    position: absolute;
    top: -26px;
    right: 0;
    border-radius: 50%;
}

.container {
    padding: 0 6%;
    display: flex;
    justify-content: space-between;
}

/* ---------- MAIN CONTENT ---------- */

.main-content {
    flex-basis: 68%;
    margin-top: 20px;
    background-color: #fff;
    min-height: 300vh;
    align-self: flex-start;
    padding: 30px 4%;
}

.items-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.items-title h1 {
    font-size: 32px;
    color: #333;
}

/* ---------- ITEM LIST ----------*/
#item-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 45px;
}

.book {
    cursor: pointer;
}

.book .inner-book h3 {
    font-size: 22px;
}

.book .inner-book p {
    font-size: 12px;
}

.book .inner-book small {
    font-weight: 400;
}

.book-img:hover {
    transform: scale(1.02);
}

.book-img {
    width: 100%;
    height: 330px;
    transition: transform 0.5s;
}

.book h3 {
    font-size: 18px;
}

.book p {
    font-size: 13px;
}

.add-cart {
    text-decoration: none;
    color: #333;
}

.book p:nth-child(6) {
    color: #ffaa00;
}

.book p:nth-child(7) {
    color: #41db51;
}

/* ---------- RIGHT SIDEBAR ---------- */

.right-sidebar {
    flex-basis: 30%;
    position: sticky;
    top: 100px;
    background-color: #fff;
    align-self: flex-start;
    height: calc(98vh - 100px);
    padding: 30px 4%;
    overflow:auto;
}

.right-sidebar hr {
    margin: 15px 0;
    border: 0;
    outline: none;
    background-color: #333;
    height: 1px;
    width: 100%;
}

.right-sidebar #cart p {
    width: 100%;
}

.cart-title {
    display: flex;
    justify-content: space-between;
}

.cart-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book.cart {
    display:flex;
    align-items: center;
    padding-top: 20px;
    font-size: 12px;
    width:100%;
}
.book-img.cart { 
    width:110px;
    margin-right:50px;
    height:unset;
}
.book .cart h3{
    font-size:16px;
}
.book .cart p{
    font-size:14px;
}
.inner-book.cart p:nth-child(4) {
    color: #ffaa00;
    font-size:12px;
}
.cart:last-child{
    font-size:18px;
}
.total{
    margin-right:20px;
}
#quantity-color{
    color:#333;
}

/* ---------- MEDIA QUERY FOR SMALL SCREENS ---------- */

@media screen and (max-width:900px) {

    #logo {
        font-size: 14px;
    }
    .search{
        display:none;
    }

    .navbar-right a img {
        display: none;
    }

    .navbar-center ul li {
        padding: 10px 5px;
    }

    .navbar-center ul li a {
        font-size: 10px;
        text-align: right;
        display: block;
    }

    .online::after {
        display: none;
    }

    .navbar-center ul li a:hover::after,
    .navbar-center ul li a.selected::after {
        display: none;
    }

    .container {
        padding: 0 6%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .main-content {
        flex-basis: 100%;
        order: 2;
    }

    .right-sidebar {
        flex-basis: 100%;
        position: unset;
        top: unset;
        background-color: #fff;
        align-self: unset;
        height: unset;
        padding: 30px 4%;
    }

    .items-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 20px;
    }
}
